* { 
    margin: 0; 
    padding: 0;
}

body { 
    font-family: "Poppins", sans-serif; 
    background-color: var(--background-color); 
    max-width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    gap: 3rem;
} 


html { 
    scroll-behavior: smooth;
} 


:root { 
    --primary-color: white; 
    --background-color: rgb(255, 255, 255); 
    --secondary-color: black; 
} 



nav{
    display:flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}

.nav-links{
    flex:1;
    text-align:right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}



li:last-child  { 
    width: max-content; 
    display: flex; 
    margin: auto; 
    padding: 10px;
} 

a { 
    transition: all 300ms ease;
} 

a { 
    color: var(--secondary-color); 
    text-decoration: none; 
    text-decoration-color: var(--primary-color);
} 

a:hover { 
    text-decoration: underline; 
    text-underline-offset: 1rem; 
    text-decoration-color: var(--secondary-color);
} 

nav a:hover { 
    color: var(--secondary-color); 
    text-decoration-color: var(--secondary-color);
} 

.icon { 
    cursor: pointer; 
    height: 2rem;
} 


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap'); 
  body {  
    font-family:"Poppins", sans-serif;
  }  
* { 
    margin: 0; 
    padding: 0;
} 

body { 
    font-family: "Poppins", sans-serif; 
    background-color: #FFFFE4;
    
    max-width: 100%; 
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    gap: 3rem;
} 

html { 
    scroll-behavior: smooth;
} 

:root { 
    --primary-color: white; 
    --background-color: rgb(255, 255, 255); 
    --secondary-color: black; 
    --secondary-color-2: rgb(85, 85, 85); 
    --button-background: rgb(53, 53, 53); 
    --button-border: rgb(53, 53, 53) 0.1rem solid; 
} 

section { 
    position: relative; 
    height: auto; 
    margin: 0 6rem; 
    padding-bottom: 2rem; 
    box-sizing: border-box; 
    min-height: fit-content;
} 

#profile { 
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
    padding-top: 2rem; 
    padding-bottom: 4rem;
} 

@media screen and (max-width: 1400px){ 
  #profile { 
    height: 83vh; 
    margin-bottom: 6rem;
  } 
}     

.icon { 
    cursor: pointer; 
    height: 2rem;
} 

.arrow { 
    position: absolute; 
    right: -1rem; 
    bottom: 2rem;
} 

a { 
    transition: all 300ms ease;
} 

a { 
    color: var(--secondary-color); 
    text-decoration: none; 
    text-decoration-color: var(--primary-color);
} 

a:hover { 
    text-decoration: underline; 
    text-underline-offset: 1rem; 
    text-decoration-color: var(--secondary-color);
} 

nav a:hover { 
    color: var(--secondary-color); 
    text-decoration-color: var(--secondary-color);
} 

.section__text { 
    align-self: center; 
    text-align: center; 
    margin: 4rem 0;
} 

.title { 
    color: var(--secondary-color); 
    font-size: 3rem; 
    text-align: center;
} 

p { 
    color: var(--secondary-color-2);
} 

.section__text__p2 { 
    font-size: 2rem; 
    margin-bottom: 1rem;
} 

.section__text p  { 
    font-weight: 600;
} 

.btn-container { 
    display: flex; 
    justify-content: center; 
    gap: 1rem;
} 

#socials-container { 
    display: flex; 
    justify-content: center; 
    margin-top: 1rem; 
    gap: 1rem;
} 

.btn { 
    transition: all 300ms ease;
} 

.btn { 
    font-weight: 600; 
    transition: all 300ms ease; 
    padding: 1rem; 
    width: 8rem; 
    border-radius: 2rem;
} 

.btn-color-2 { 
    border: var(--button-border); 
    color: var(--secondary-color-2);
} 

.btn-color-2 { 
    background: none;
} 

.btn-color-2:hover { 
    cursor: pointer;
} 

.btn-color-2:hover { 
    background: var(--button-background); 
    color: var(--primary-color);
} 

.btn-color-2:hover { 
    border: var(--button-border); 
    background: var(--secondary-color);
} 



btn-color-1 { 
    border: var(--button-border); 
    color: var(--secondary-color-2);
} 

.btn-color-1 { 
    background: none;
} 

.btn-color-1:hover { 
    cursor: pointer;
} 

.btn-color-1:hover { 
    background: var(--button-background); 
    color: var(--primary-color);
} 

.btn-color-1:hover { 
    border: var(--button-border); 
    background: var(--secondary-color);
} 

.section__pic-container {
  width: 300px; /* Adjust the width and height to fit your design */
  height: 300px;
  border-radius: 50%; /* This makes the image circular */
  overflow: hidden; /* This hides any overflow beyond the circular shape */
  border: 2px solid black; /* Add border to the circular image with black color */
}

.section__pic-container img {
  width: 100%; /* Ensure the image fills the container */
  height: 100%; /* Ensure the image fills the container */
  object-fit: cover; /* This ensures the entire image is visible within the circular container */
  object-position: center; /* This centers the image within the circular container */
}


.section__text__p1 { 
    text-align: center;
} 

.title { 
    color: var(--secondary-color); 
    font-size: 3rem; 
    text-align: center;
} 

.contact-info-upper-container { 
    display: flex; 
    justify-content: space-around; 
    border-radius: 0.5rem; 
    border: var(--button-border); 
    border-color: var(--container-border); 
    background: var(--background-color);
} 

.contact-info-container { 
    display: flex; 
    align-items: center; 
    gap: 0.5rem; 
    padding: 0.5rem;
} 

.icon { 
    cursor: pointer; 
    height: 2rem;
} 

.contact-icon { 
    cursor: default;
} 

.email-icon { 
    height: 2.5rem;
} 

.contact-info-container p  { 
    font-size: larger;
} 

a { 
    transition: all 300ms ease;
} 

a { 
    color: var(--secondary-color); 
    text-decoration: none; 
    text-decoration-color: var(--primary-color);
} 

a:hover { 
    text-decoration: underline; 
    text-underline-offset: 1rem; 
    text-decoration-color: var(--secondary-color);
} 


.text-container p {
  margin-bottom: 15px; /* Adjust the value as needed to increase the space between paragraphs */
}

p { 
    color: var(--secondary-color-2);
} 

.section__text__p1 { 
    text-align: center;
} 

.title { 
    color: var(--secondary-color); 
    font-size: 3rem; 
    text-align: center;
} 

.section-container { 
    display: flex;
} 

.icon { 
    cursor: pointer; 
    height: 2rem;
} 

.arrow { 
    position: absolute; 
    right: -1rem; 
    bottom: 2rem;
} 

.about-details-container { 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
} 

.about-details-container { 
    display: flex;
} 

.about-containers { 
    gap: 2rem; 
    padding: 2rem; 
    flex-wrap: wrap;
} 

.about-containers { 
    display: flex;
} 

@media screen and (max-width: 1400px){ 
  .about-containers { 
    flex-wrap: wrap;
  } 
}     

.details-container { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 1rem; 
    flex: 1; 
    background: var(--primary-color-2); 
    border-radius: 0.5rem; 
    border: var(--button-border); 
    border-color: var(--container-border); 
    text-align: center;
} 

h3 { 
    color: var(--secondary-color);
} 


