/* Base styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.select-label {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

select {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.home-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.home-button:hover {
    background-color: #0056b3;
}

/* Base iframe styles */
iframe {
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 800px;
}

/* Responsive design for smaller screens */
@media (max-width: 1024px) {
    iframe {
        height: 600px;
    }
}

@media (max-width: 768px) {
    .header-controls {
        flex-direction: column;
    }

    iframe {
        height: 500px;
    }

    select {
        width: 100%;
        margin: 10px 0;
    }

    .home-button {
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 20px;
    }

    select, .home-button {
        font-size: 14px;
        padding: 8px;
    }

    iframe {
        height: 400px;
    }
}
