body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.header-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.select-label {
    margin-right: 10px;
    font-size: 16px;
    color: #fff;
}

select {
    padding: 8px;
    font-size: 16px;
    margin-left: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.home-button {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 20px;
}

.home-button:hover {
    background-color: #0056b3;
}

iframe {
    border: none;
    margin-top: 20px;
    width: 100%;
    height: 800px;
}

@media (max-width: 768px) {
    iframe {
        height: 600px;
    }

    .header-controls {
        flex-direction: column;
    }

    .home-button {
        margin-bottom: 10px;
    }
}
