body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.pdf-reader-header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.download-button {
  display: inline-block;
  padding: 8px 15px;
  margin-left: 15px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.download-button:hover {
  background-color: #45a049;
}

.pdf-selector {
  margin-top: 10px;
}

.pdf-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

canvas {
  width: 90%;
  max-width: 800px;
  height: auto;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #f4f4f4;
  border-top: 1px solid #ccc;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (max-width: 768px) {
  canvas {
    width: 100%;
  }
}
