body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #d4af37;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 2em;
}

.container {
    padding: 30px;
    width: 50%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center; /* Center content in container */
}

h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 1.1em;
    margin-top: 10px;
    display: block;
    text-align: center; /* Center labels */
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 80%;
    padding: 12px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: center;
}

input[type="checkbox"] {
    margin: 10px;
}

button {
    padding: 15px;
    background-color: #d4af37;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a6852a;
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two columns for checkboxes */
    gap: 15px;
    text-align: center; /* Center checkboxes in each grid column */
    margin: 20px 0;
}

.size-select {
    margin-top: 10px;
    width: 80%;
    padding: 12px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ddd;
    display: block;
    margin: 10px auto;
}

input[type="text"]:focus, .size-select:focus {
    outline: none;
    border-color: #a6852a;
}

footer {
    margin-top: 30px;
    font-size: 0.9em;
    color: #555;
}
